{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Tasks List
    <a href="{% url 'task_manager:task-create' %}" class="btn btn-primary link-to-page" style="float: right">
      Create
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Search">
  </form>
  {% if task_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Completed</th>
        <th>Priority</th>
        <th>Task type</th>
      </tr>

      {% for task in task_list %}
        <tr>
          <td>
              {{ task.id }}
          </td>
          <td>
              <a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a>
          </td>
          <td>
              {{ task.description }}
          </td>
          <td>
              {{ task.deadline }}
          </td>
          <td>
              {{ task.is_completed }}
          </td>
          <td>
              {{ task.priority }}
          </td>
          <td>
              {{ task.task_type.name }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no task in the manager.</p>
  {% endif %}
{% endblock %}

